@font-face {
   font-family: 'PlayfairDisplay-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Lenovo/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-07-26_150728/fonts/PlayfairDisplay-Regular/font.ttf');
}
